.sphere {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  canvas {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.sphere__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sphere__title,
.sphere__text {
  color: rgba(240,240,240, 0.8)
}
